[flake8]
max-line-length = 120
ignore = E203,W503
exclude =
    .venv,
    __pycache__,
    .pytest_cache,
    alembic,
    .idea,
    node_modules,
    docs,
    data,
    logs,
    tests,
    migrate_from_json.py
